<div
  class="mt-3 flex flex-col-reverse md:flex-row gap-10 md:justify-between items-center w-full"
>
  <div class="flex flex-col gap-y-3 text-base max-w-[400px]">
    <p class="text-pretty">
      Mi nombre es <strong class="text-yellow-200">Jose Flores</strong
      > pero en el mundo del desarrollo soy conocido como <strong
        class="text-yellow-200">JfloresXc</strong
      > debido a un apodo gamer en mi adolescencia.
    </p>

    <p class="text-pretty">
      Inicié mi carrera como <strong class="text-yellow-200"
        >desarrollador web</strong
      > en el año 2019, para mí aprender a programar era más <strong
        class="text-yellow-200">un deber</strong
      > debido a los mitos universitarios. Hoy en día es <strong
        class="text-yellow-200">una pasión</strong
      > que me dirigió a poder brindar ponencias, dar cursos, compartir
      tips para iniciantes como amigos y mucho más.
    </p>

    <p class="text-pretty">
      Actualmente pertenezco a la comunidad de la <strong
        class="text-yellow-200">IEEE Students Society Untels</strong
      >. Y, además trabajo en la empresa Kipu en la cual me
      desenvuelvo en tecnologías como
      <strong class="text-yellow-200"
        >AngularJS y .NET Framework
      </strong>.
    </p>
  </div>

  <img
    loading="lazy"
    src="storage/aboutme.jpeg"
    alt="Jose Flores Chamba"
    class="mt-5 w-[250px] h-[250px] rounded-full object-cover"
  />
</div>
